In [350]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.stats import t

In [349]:
df = pd.read_csv('pmsi_analysis_v13.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,6,21,22,26,33,34,53) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [351]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [352]:
df['grp_cln'] = df['grp_cln'].astype('str')

In [353]:
df = df[df['grp_cln'] != 'no match']

In [354]:
df.head()

,finess,mois,annee,sexe,ghm2,GHS,age,duree,supp_rea,supp_si,...,top1_lib_dp_patients_SUV,top3_region_label_patients_SUV,top1_lib_dp_patients_PUMA,top3_region_label_patients_PUMA,top1_lib_dp_patients_AME,top3_region_label_patients_AME,top3_Libellé GHM_patients,region,effectif_region_2020,grp_cln
0,10007987,6,2012,1,20Z042,7268,36,9,0,0,...,"Syndrome de sevrage de l'alcool avec délirium,...",Hauts-de-France Île-de-France Guyane,Sevrage d'alcool,Hauts-de-France Auvergne-Rhône-Alpes Île-de-Fr...,Sevrage d'alcool,Île-de-France Auvergne-Rhône-Alpes Occitanie,"{'Ethylisme aigu, niveau 1': '12165', 'Ethylis...",GRAND EST,6009918.0,12
1,10007987,4,2013,1,20Z042,7268,38,6,0,0,...,"Syndrome de sevrage de l'alcool avec délirium,...",Hauts-de-France Île-de-France Guyane,Sevrage d'alcool,Hauts-de-France Auvergne-Rhône-Alpes Île-de-Fr...,Sevrage d'alcool,Île-de-France Auvergne-Rhône-Alpes Occitanie,"{'Ethylisme aigu, niveau 1': '12165', 'Ethylis...",GRAND EST,6009918.0,12
2,10007987,10,2015,1,20Z042,7268,39,8,0,0,...,"Syndrome de sevrage de l'alcool avec délirium,...",Hauts-de-France Île-de-France Guyane,Sevrage d'alcool,Hauts-de-France Auvergne-Rhône-Alpes Île-de-Fr...,Sevrage d'alcool,Île-de-France Auvergne-Rhône-Alpes Occitanie,"{'Ethylisme aigu, niveau 1': '12165', 'Ethylis...",GRAND EST,6009918.0,12
3,100000017,2,2015,1,20Z042,7282,51,20,0,0,...,"Syndrome de sevrage de l'alcool avec délirium,...",Hauts-de-France Île-de-France Guyane,Sevrage d'alcool,Hauts-de-France Auvergne-Rhône-Alpes Île-de-Fr...,Sevrage d'alcool,Île-de-France Auvergne-Rhône-Alpes Occitanie,"{'Ethylisme aigu, niveau 1': '12165', 'Ethylis...",GRAND EST,6009918.0,12
4,100000017,10,2016,2,20Z042,7282,53,12,0,0,...,"Syndrome de sevrage de l'alcool avec délirium,...",Hauts-de-France Île-de-France Guyane,Sevrage d'alcool,Hauts-de-France Auvergne-Rhône-Alpes Île-de-Fr...,Sevrage d'alcool,Île-de-France Auvergne-Rhône-Alpes Occitanie,"{'Ethylisme aigu, niveau 1': '12165', 'Ethylis...",GRAND EST,6009918.0,12

### Surcôut précarité

In [355]:
df_oc = df.groupby(['grp_cln','raison']).agg({'cost':'mean'})
df_oc = df_oc.reset_index()

In [356]:
df_oc = df_oc[df_oc['grp_cln']!='no match']

In [357]:
df_oc = df_oc.pivot_table('cost', ['grp_cln'], 'raison')
df_oc = df_oc.reset_index()
df_oc = df_oc.rename_axis(None, axis=1)
df_oc['grp_cln'] = df_oc['grp_cln'].astype('int')
df_oc = df_oc.sort_values(by='grp_cln')
df_oc.index = range(1,len(df_oc)+1)

In [358]:
df_oc

    grp_cln           AME         PUMA           SUV
1         1   2575.531051  2486.693800   2685.197574
2         2    678.749469   680.822475   1020.010530
3         3   4193.720169  4000.914447   4533.917557
4         4    984.439284   987.652134    998.567391
5         5    967.709538   819.338891   1276.441130
6         6   3360.046379  3308.411456   3524.491989
7         7    989.769207  1028.906983   1015.790149
8         8   5466.127951  1534.693416   7362.529219
9         9  10616.495148  4099.124881  12288.016027
10       10    869.167391   825.832131    957.906373
11       11   2112.730465  1993.462569   2178.862383
12       12   1292.304369  1420.270556   1099.296841
13       13   2273.855159  2103.975079   3012.901683
14       14   1725.792391  1536.828985   1821.376578
15       15   1363.109033  1328.518206   1812.772315
16       16   1633.601229  1590.218484   4120.050742
17       17   2332.672374  2172.623000   2871.244068
18       18    963.593846   902.879177   1050.960765
19       19   6105.817857  5899.942905   6571.852897
20       20   3466.425357  3318.492149   3147.858465

In [359]:
def generate_ic(grp_cln,raison_1,raison_2,conf=0.95):
    
    r1= np.array(df[(df['grp_cln']==grp_cln) &  (df['raison']==raison_1)]['cost'])
    r2= np.array(df[(df['grp_cln']==grp_cln) &  (df['raison']==raison_2)]['cost'])
    size = min(len(r1),len(r2))
    oc = np.random.choice(r1,size=size) - np.random.choice(r2,size=size)
    
    return sms.DescrStatsW(oc).tconfint_mean()

#### SUV vs AME

In [360]:
suv_ame_ic_le = list()
suv_ame_ic_he = list()

for grp_cln in range(1,21):
    
    ic = generate_ic(str(grp_cln),'SUV','AME')
    suv_ame_ic_le.append(ic[0])
    suv_ame_ic_he.append(ic[1])

In [361]:
df_oc['SUV_vs_AME'] = df_oc['SUV'] - df_oc['AME']

In [362]:
df_oc['suv_ame_ic_le'] = suv_ame_ic_le
df_oc['suv_ame_ic_he'] = suv_ame_ic_he

In [363]:
df_oc

,grp_cln,AME,PUMA,SUV,SUV_vs_AME,suv_ame_ic_le,suv_ame_ic_he
1,1,2575.531051,2486.693800,2685.197574,109.666523,96.722039,159.096131
2,2,678.749469,680.822475,1020.010530,341.261061,268.487987,368.087763
3,3,4193.720169,4000.914447,4533.917557,340.197388,199.895617,362.432593
4,4,984.439284,987.652134,998.567391,14.128107,13.592696,16.522334
5,5,967.709538,819.338891,1276.441130,308.731592,253.026095,362.479310
6,6,3360.046379,3308.411456,3524.491989,164.445610,45.161615,242.482905
7,7,989.769207,1028.906983,1015.790149,26.020942,-1.134544,35.356436
8,8,5466.127951,1534.693416,7362.529219,1896.401268,621.151789,2458.274076
9,9,10616.495148,4099.124881,12288.016027,1671.520879,-2206.633455,1992.414136
10,10,869.167391,825.832131,957.906373,88.738982,-63.962456,176.590179
11,11,2112.730465,1993.462569,2178.862383,66.131917,-653.623342,291.278686
12,12,1292.304369,1420.270556,1099.296841,-193.007528,-225.890851,57.814766
13,13,2273.855159,2103.975079,3012.901683,739.046524,396.007816,748.477731
14,14,1725.792391,1536.828985,1821.376578,95.584187,92.135094,270.844952
15,15,1363.109033,1328.518206,1812.772315,449.663282,458.857409,848.586969
16,16,1633.601229,1590.218484,4120.050742,2486.449513,490.875736,9582.650300
17,17,2332.672374,2172.623000,2871.244068,538.571694,142.775937,560.971278
18,18,963.593846,902.879177,1050.960765,87.366919,13.971687,154.160291
19,19,6105.817857,5899.942905,6571.852897,466.035040,195.840802,754.374726
20,20,3466.425357,3318.492149,3147.858465,-318.566892,-308.458401,1579.744821

#### AME vs PUMA

In [364]:
ame_puma_ic_le = list()
ame_puma_ic_he = list()

for grp_cln in range(1,21):
    
    ic = generate_ic(str(grp_cln),'AME','PUMA')
    ame_puma_ic_le.append(ic[0])
    ame_puma_ic_he.append(ic[1])

In [365]:
df_oc['AME_vs_PUMA'] = df_oc['AME'] - df_oc['PUMA']

In [366]:
df_oc['ame_puma_ic_le'] = ame_puma_ic_le
df_oc['ame_puma_ic_he'] = ame_puma_ic_he

In [367]:
df_oc

,grp_cln,AME,PUMA,SUV,SUV_vs_AME,suv_ame_ic_le,suv_ame_ic_he,AME_vs_PUMA,ame_puma_ic_le,ame_puma_ic_he
1,1,2575.531051,2486.693800,2685.197574,109.666523,96.722039,159.096131,88.837251,71.078387,91.101392
2,2,678.749469,680.822475,1020.010530,341.261061,268.487987,368.087763,-2.073006,-6.668369,8.936514
3,3,4193.720169,4000.914447,4533.917557,340.197388,199.895617,362.432593,192.805722,140.647823,209.474315
4,4,984.439284,987.652134,998.567391,14.128107,13.592696,16.522334,-3.212849,-3.975622,-1.061505
5,5,967.709538,819.338891,1276.441130,308.731592,253.026095,362.479310,148.370647,105.255386,152.007592
6,6,3360.046379,3308.411456,3524.491989,164.445610,45.161615,242.482905,51.634922,-32.135324,107.205635
7,7,989.769207,1028.906983,1015.790149,26.020942,-1.134544,35.356436,-39.137776,-41.188630,-35.860669
8,8,5466.127951,1534.693416,7362.529219,1896.401268,621.151789,2458.274076,3931.434535,3644.367533,4108.406027
9,9,10616.495148,4099.124881,12288.016027,1671.520879,-2206.633455,1992.414136,6517.370267,6453.187623,7378.364471
10,10,869.167391,825.832131,957.906373,88.738982,-63.962456,176.590179,43.335260,24.622728,58.620938
11,11,2112.730465,1993.462569,2178.862383,66.131917,-653.623342,291.278686,119.267896,11.198833,302.800705
12,12,1292.304369,1420.270556,1099.296841,-193.007528,-225.890851,57.814766,-127.966187,-217.122498,-106.589995
13,13,2273.855159,2103.975079,3012.901683,739.046524,396.007816,748.477731,169.880080,120.366432,228.949821
14,14,1725.792391,1536.828985,1821.376578,95.584187,92.135094,270.844952,188.963406,175.965619,225.294514
15,15,1363.109033,1328.518206,1812.772315,449.663282,458.857409,848.586969,34.590827,-58.781462,54.153674
16,16,1633.601229,1590.218484,4120.050742,2486.449513,490.875736,9582.650300,43.382745,19.549957,51.131902
17,17,2332.672374,2172.623000,2871.244068,538.571694,142.775937,560.971278,160.049374,51.157775,285.102906
18,18,963.593846,902.879177,1050.960765,87.366919,13.971687,154.160291,60.714668,45.286063,80.089286
19,19,6105.817857,5899.942905,6571.852897,466.035040,195.840802,754.374726,205.874952,55.045115,438.874014
20,20,3466.425357,3318.492149,3147.858465,-318.566892,-308.458401,1579.744821,147.933207,9.508136,406.456313

#### SUV vs PUMA

In [368]:
suv_puma_ic_le = list()
suv_puma_ic_he = list()

for grp_cln in range(1,21):
    
    ic = generate_ic(str(grp_cln),'SUV','PUMA')
    suv_puma_ic_le.append(ic[0])
    suv_puma_ic_he.append(ic[1])

In [369]:
df_oc['SUV_vs_PUMA'] = df_oc['SUV'] - df_oc['PUMA']

In [370]:
df_oc['suv_puma_ic_le'] = suv_puma_ic_le
df_oc['suv_puma_ic_he'] = suv_puma_ic_he

In [371]:
df_oc

,grp_cln,AME,PUMA,SUV,SUV_vs_AME,suv_ame_ic_le,suv_ame_ic_he,AME_vs_PUMA,ame_puma_ic_le,ame_puma_ic_he,SUV_vs_PUMA,suv_puma_ic_le,suv_puma_ic_he
1,1,2575.531051,2486.693800,2685.197574,109.666523,96.722039,159.096131,88.837251,71.078387,91.101392,198.503774,188.004461,247.897552
2,2,678.749469,680.822475,1020.010530,341.261061,268.487987,368.087763,-2.073006,-6.668369,8.936514,339.188055,289.126683,380.632816
3,3,4193.720169,4000.914447,4533.917557,340.197388,199.895617,362.432593,192.805722,140.647823,209.474315,533.003110,415.360996,576.179592
4,4,984.439284,987.652134,998.567391,14.128107,13.592696,16.522334,-3.212849,-3.975622,-1.061505,10.915258,8.848508,11.784319
5,5,967.709538,819.338891,1276.441130,308.731592,253.026095,362.479310,148.370647,105.255386,152.007592,457.102239,435.671825,534.135252
6,6,3360.046379,3308.411456,3524.491989,164.445610,45.161615,242.482905,51.634922,-32.135324,107.205635,216.080533,129.119445,299.527683
7,7,989.769207,1028.906983,1015.790149,26.020942,-1.134544,35.356436,-39.137776,-41.188630,-35.860669,-13.116835,-25.088164,10.927112
8,8,5466.127951,1534.693416,7362.529219,1896.401268,621.151789,2458.274076,3931.434535,3644.367533,4108.406027,5827.835802,4605.500849,6022.680185
9,9,10616.495148,4099.124881,12288.016027,1671.520879,-2206.633455,1992.414136,6517.370267,6453.187623,7378.364471,8188.891146,6634.312797,10208.629883
10,10,869.167391,825.832131,957.906373,88.738982,-63.962456,176.590179,43.335260,24.622728,58.620938,132.074242,48.249376,366.698220
11,11,2112.730465,1993.462569,2178.862383,66.131917,-653.623342,291.278686,119.267896,11.198833,302.800705,185.399814,-3.279857,1110.546261
12,12,1292.304369,1420.270556,1099.296841,-193.007528,-225.890851,57.814766,-127.966187,-217.122498,-106.589995,-320.973715,-493.722989,-264.470240
13,13,2273.855159,2103.975079,3012.901683,739.046524,396.007816,748.477731,169.880080,120.366432,228.949821,908.926604,707.537829,1008.814440
14,14,1725.792391,1536.828985,1821.376578,95.584187,92.135094,270.844952,188.963406,175.965619,225.294514,284.547593,232.793355,410.841111
15,15,1363.109033,1328.518206,1812.772315,449.663282,458.857409,848.586969,34.590827,-58.781462,54.153674,484.254108,408.250780,754.694351
16,16,1633.601229,1590.218484,4120.050742,2486.449513,490.875736,9582.650300,43.382745,19.549957,51.131902,2529.832258,-113.343861,5247.800657
17,17,2332.672374,2172.623000,2871.244068,538.571694,142.775937,560.971278,160.049374,51.157775,285.102906,698.621068,602.500217,1023.907470
18,18,963.593846,902.879177,1050.960765,87.366919,13.971687,154.160291,60.714668,45.286063,80.089286,148.081588,104.137804,257.517544
19,19,6105.817857,5899.942905,6571.852897,466.035040,195.840802,754.374726,205.874952,55.045115,438.874014,671.909992,354.402479,845.042527
20,20,3466.425357,3318.492149,3147.858465,-318.566892,-308.458401,1579.744821,147.933207,9.508136,406.456313,-170.633685,-1583.508326,656.044633

In [372]:
df_oc['range_suv_ame'] = df_oc['suv_ame_ic_he']-df_oc['suv_ame_ic_le']
df_oc['range_ame_puma'] = df_oc['ame_puma_ic_he']-df_oc['ame_puma_ic_le']
df_oc['range_suv_puma'] = df_oc['suv_puma_ic_he']-df_oc['suv_puma_ic_le']

In [373]:
df_oc

,grp_cln,AME,PUMA,SUV,SUV_vs_AME,suv_ame_ic_le,suv_ame_ic_he,AME_vs_PUMA,ame_puma_ic_le,ame_puma_ic_he,SUV_vs_PUMA,suv_puma_ic_le,suv_puma_ic_he,range_suv_ame,range_ame_puma,range_suv_puma
1,1,2575.531051,2486.693800,2685.197574,109.666523,96.722039,159.096131,88.837251,71.078387,91.101392,198.503774,188.004461,247.897552,62.374092,20.023005,59.893090
2,2,678.749469,680.822475,1020.010530,341.261061,268.487987,368.087763,-2.073006,-6.668369,8.936514,339.188055,289.126683,380.632816,99.599776,15.604883,91.506133
3,3,4193.720169,4000.914447,4533.917557,340.197388,199.895617,362.432593,192.805722,140.647823,209.474315,533.003110,415.360996,576.179592,162.536976,68.826491,160.818595
4,4,984.439284,987.652134,998.567391,14.128107,13.592696,16.522334,-3.212849,-3.975622,-1.061505,10.915258,8.848508,11.784319,2.929638,2.914118,2.935811
5,5,967.709538,819.338891,1276.441130,308.731592,253.026095,362.479310,148.370647,105.255386,152.007592,457.102239,435.671825,534.135252,109.453214,46.752206,98.463427
6,6,3360.046379,3308.411456,3524.491989,164.445610,45.161615,242.482905,51.634922,-32.135324,107.205635,216.080533,129.119445,299.527683,197.321290,139.340960,170.408237
7,7,989.769207,1028.906983,1015.790149,26.020942,-1.134544,35.356436,-39.137776,-41.188630,-35.860669,-13.116835,-25.088164,10.927112,36.490980,5.327961,36.015277
8,8,5466.127951,1534.693416,7362.529219,1896.401268,621.151789,2458.274076,3931.434535,3644.367533,4108.406027,5827.835802,4605.500849,6022.680185,1837.122286,464.038494,1417.179336
9,9,10616.495148,4099.124881,12288.016027,1671.520879,-2206.633455,1992.414136,6517.370267,6453.187623,7378.364471,8188.891146,6634.312797,10208.629883,4199.047591,925.176847,3574.317086
10,10,869.167391,825.832131,957.906373,88.738982,-63.962456,176.590179,43.335260,24.622728,58.620938,132.074242,48.249376,366.698220,240.552635,33.998210,318.448844
11,11,2112.730465,1993.462569,2178.862383,66.131917,-653.623342,291.278686,119.267896,11.198833,302.800705,185.399814,-3.279857,1110.546261,944.902028,291.601872,1113.826118
12,12,1292.304369,1420.270556,1099.296841,-193.007528,-225.890851,57.814766,-127.966187,-217.122498,-106.589995,-320.973715,-493.722989,-264.470240,283.705618,110.532503,229.252749
13,13,2273.855159,2103.975079,3012.901683,739.046524,396.007816,748.477731,169.880080,120.366432,228.949821,908.926604,707.537829,1008.814440,352.469915,108.583389,301.276611
14,14,1725.792391,1536.828985,1821.376578,95.584187,92.135094,270.844952,188.963406,175.965619,225.294514,284.547593,232.793355,410.841111,178.709858,49.328896,178.047756
15,15,1363.109033,1328.518206,1812.772315,449.663282,458.857409,848.586969,34.590827,-58.781462,54.153674,484.254108,408.250780,754.694351,389.729560,112.935136,346.443572
16,16,1633.601229,1590.218484,4120.050742,2486.449513,490.875736,9582.650300,43.382745,19.549957,51.131902,2529.832258,-113.343861,5247.800657,9091.774563,31.581945,5361.144518
17,17,2332.672374,2172.623000,2871.244068,538.571694,142.775937,560.971278,160.049374,51.157775,285.102906,698.621068,602.500217,1023.907470,418.195341,233.945131,421.407253
18,18,963.593846,902.879177,1050.960765,87.366919,13.971687,154.160291,60.714668,45.286063,80.089286,148.081588,104.137804,257.517544,140.188604,34.803223,153.379741
19,19,6105.817857,5899.942905,6571.852897,466.035040,195.840802,754.374726,205.874952,55.045115,438.874014,671.909992,354.402479,845.042527,558.533925,383.828898,490.640048
20,20,3466.425357,3318.492149,3147.858465,-318.566892,-308.458401,1579.744821,147.933207,9.508136,406.456313,-170.633685,-1583.508326,656.044633,1888.203222,396.948177,2239.552958

In [375]:
df_oc.to_csv('over_cost_ic_fin.csv')